.div-main{
    width: 40%;
    margin: 10% 25%;

    
}
button{
    margin: 5px;
}
.div-heading{
    text-align: left;
    padding: 2%;
    background-color: gray;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .radio-gender{
      margin: 3px;
  }
  

  
